* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.wrapper {
	padding: 5px;
	margin: 0 50px auto;
	margin-bottom: 10px;
}
#clear {
	color: red;
}

button {
	cursor: pointer;
}
.task {
	cursor: pointer;
	word-wrap: break-word;
	overflow: auto;
	text-overflow: ellipsis;
}

.elem {
	word-wrap: break-word;
	text-overflow: ellipsis;
	max-width: 200px;
	padding: 10px;
	border: 1px solid black;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
	list-style: none;
}
ul {
	gap: 10px;
	display: flex;
	flex-wrap: wrap;
}
