* {
	/* box-sizing: border-box; */
	/* margin: 0;
	padding: 0; */
}

#elem {
	width: 300px;
	height: 150px;
	margin: 50px auto;
	padding: 25px;
	background: #cff5bf;
	border: 25px solid #f0d7a1;
	overflow: auto;
	text-align: justify;
}
