<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="./styleComp.css" />
	</head>
	<body>
		<div class="header">
			<nav class="menu">
				<div class="text">
					<h1 class="logo">Северодвинск</h1>
				</div>
				<ul class="menu__list">
					<li class="menu__item active">О городе</li>
					<li class="menu__item">Достопримечательности</li>
					<li class="menu__item">Где бухнуть?</li>
					<li class="menu__item">Где Погулять?</li>
					<li class="menu__item">Где Работать?</li>
					<li class="menu__item">Как выбраться из города?</li>
				</ul>
			</div>
		</nav>
		<div class="wrapper card"></div>
	</body>
</html>
